@import "./variables.css";

.bg-footer {
    background: #1A1A1A;
    background: -webkit-linear-gradient(180deg, var(--footer-gradient-start) 0%, var(--footer-gradient-start));
    background: -moz-linear-gradient(180deg, var(--footer-gradient-start) 0%, var(--footer-gradient-start));
    background: linear-gradient(180deg, var(--footer-gradient-start) 0%, var(--footer-gradient-end));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1A1A1A",
            endColorstr="#404040",
            GradientType=0);
}


.h-footer {
    height: 350px;
}

.h-seperator {
    border-top: 3px solid #fff;
}

