@import "./variables.css";

.bg-footer {
    background: #B2B2B2;
    background: -webkit-linear-gradient(0, var(--footer-gradient-start) 0%, var(--footer-gradient-start));
    background: -moz-linear-gradient(0deg, var(--footer-gradient-start) 0%, var(--footer-gradient-start));
    background: linear-gradient(0deg, var(--footer-gradient-start) 0%, var(--footer-gradient-end));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B2B2B2",
            endColorstr="#222222",
            GradientType=0);
}


.h-footer {
    height: 450px;
}


.btn-hover {
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.btn-hover:hover {
    translate: 0 -5px;
    scale: 1.2;
}


.btn-rot-5deg:hover {
    transform: rotate(5deg);
}

.btn-rot-10deg:hover {
    transform: rotate(10deg);
}

.btn-rot--5deg:hover {
    transform: rotate(-5deg);
}

.btn-rot--10deg:hover {
    transform: rotate(-10deg);
}