@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import "tailwindcss";
@import "./variables.css";

html {
    background: var(--gradient-start);
    background: -webkit-linear-gradient(0deg, var(--gradient-start) 0%, var(--gradient-center) 50%, var(--gradient-end) 100%);
    background: -moz-linear-gradient(0deg, var(--gradient-start) 0%, var(--gradient-center) 50%, var(--gradient-end) 100%);
    background: linear-gradient(0deg, var(--gradient-start) 0%, var(--gradient-center) 50%, var(--gradient-end) 100%);
}

html, body {
    margin: 0;
    font-family: 'Whitney', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  * :focus {
    outline: none !important;
  }