:root {
    --text-color: #fff;
    --gradient-start: #060916;
    --gradient-center: #1e1829;
    --gradient-end: #0f1f33;

    --footer-gradient-start: #1A1A1A;
    --footer-gradient-end: #404040;

    --navbar-gradient-start: #ffffff00;
    --navbar-gradient-end: #000000bf;
    --nav-text-hover: #a3c1fe;

    --drop-shadow-color: #000000e6;
}