:root {
    --background: #000000;
    --background-gradient-start: #000000;
    --background-gradient-end: #070514;
    --yt-card-background: #444444;
    --sub-background:#100c2e;
    --sub-background-shadow:#251d63;


    --text: #fff;
    --text-hover: #68B2F3;
    --copyright-text: #919191;

    --nav-font-size: 24px;
    --section-font-size: 24px;

    --header-font-size: 56px;

    --shadow-color: #1d1d1d2f;


}



